/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y    |  U    |  I    |  O   |   P   |   \  |
// |  ESC  |  A  |  S  |  D   |  F   |  G   |                                          |  H    |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | LGUI    |         |  |         |    RGUI |  N    |  M    |  ,    |  .   |   /   | SHIFT |
//                     | PLAY | LOWER | BPSC | LCTRL  | LGUI    |  |    RGUI |   ENTER | SPACE | RAISE | BTNXT |

			bindings = <
	&kp TAB   &kp Q &kp W &kp E    &kp R     &kp T                                            &kp Y        &kp U      &kp I      &kp O      &kp P    &kp BSLH
	&kp ESC   &kp A &kp S &kp D    &kp F     &kp G                                            &kp H        &kp J      &kp K      &kp L      &kp SEMI &kp SQT
	&kp LSHFT &kp Z &kp X &kp C    &kp V     &kp B    &kp LGUI  &none     &none      &kp RGUI &kp N        &kp M      &kp COMMA  &kp DOT    &kp FSLH &kp RSHFT
	                      &kp C_PP &kp LALT &kp BSPC &kp LCTRL &mo LOWER  &mo RAISE  &kp RET  &kp SPACE    &none  &kp RALT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

		lower_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// | `     |  !  |  @  |  #   |  $   |  %   |                                          |  ^    |  &    |  *    |  (   |   )   |  ~   |
// |       |     |     |      |      |      |                                          |  -    |  +    |  =    |  {   |   }   |  |   |
// |       |     |     |      |      |      | LGUI    |         |  |         | RGUI    |  _    |       |       |  [   |   ]   |      |
//                     | PLAY | LALT | BPSC | LCTRL   |  LOWER  |  |  RAISE  | ENTER   | SPACE | BTCLR | BTNXT |
			bindings = <
	&kp GRAVE &kp EXCL &kp AT &kp POUND   &kp DLLR &kp PRCNT                             &kp CARET &kp AMPS   &kp STAR  &kp LPAR &kp RPAR &kp TILDE
	&none     &none    &none  &none       &none    &none                                 &kp MINUS &kp PLUS   &kp EQUAL &kp LBRC &kp RBRC &kp PIPE
	&trans     &none    &none  &none      &none    &none  &trans &none     &none  &trans &kp UNDER &none      &none     &kp LBKT &kp RBKT &trans
			                      &trans      &trans   &trans &trans &trans    &trans &trans &trans    &bt BT_CLR &bt BT_NXT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

		upper_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// | 1     |  2  |  3  |  4   |  5   |  6   |                                          |  7    |  8    |  9    |  0   |       |      |
// |       |     |     |      |      |      |                                          |       | LEFT  | DOWN  | UP   | RIGHT |      |
// |       |     |     |      |      |      | LGUI    |         |  |         | RGUI    |       | CPREV | CNEXT |      |       |      |
//                     | PLAY | LALT | BPSC | LCTRL   |  LOWER  |  |  RAISE  | ENTER   | SPACE | BTCLR | BTNXT |
			bindings = <
	&kp N1    &kp N2   &kp N3 &kp N4  &kp N5 &kp N6                                &kp N7    &kp N8     &kp N9      &kp N0    &none &none
	&none     &none    &none  &none   &none  &none                                 &kp LEFT  &kp DOWN   &kp UP      &kp RIGHT &none &none
	&trans    &none    &none  &none   &none  &none  &trans &none     &none &trans  &none     &kp C_PREV &kp C_NEXT  &none     &none &trans
			                      &trans  &trans &trans &trans &trans    &trans &trans &trans    &trans     &trans
			>;

			sensor-bindings = <&inc_dec_kp C_BRI_DN C_BRI_UP>;
		};
	};
};
